.title {
  display: flex;
  font-size: 40px;
  padding: 40px;
  padding-right: 80px;
  font-weight: 400;
  color: #fff;
  background-color: black;
  color: #fff;
}
.title a {
  text-decoration: none;
  color: #fff;
}
.logoimage {
  color: orangered;
}
